/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.11.14-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: primey_hrm
-- ------------------------------------------------------
-- Server version	10.11.14-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `analytics_engine_report`
--

DROP TABLE IF EXISTS `analytics_engine_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `analytics_engine_report` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `report_type` varchar(50) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `file_path` varchar(100) DEFAULT NULL,
  `auto_generated` tinyint(1) NOT NULL,
  `company_id` bigint(20) DEFAULT NULL,
  `created_by_id` bigint(20) DEFAULT NULL,
  `ai_score` double NOT NULL,
  `ai_summary` longtext DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `analytics_engine_rep_company_id_45bcd4af_fk_billing_c` (`company_id`),
  KEY `analytics_engine_rep_created_by_id_f6b11cef_fk_billing_c` (`created_by_id`),
  CONSTRAINT `analytics_engine_rep_company_id_45bcd4af_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`),
  CONSTRAINT `analytics_engine_rep_created_by_id_f6b11cef_fk_billing_c` FOREIGN KEY (`created_by_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `analytics_engine_report`
--

LOCK TABLES `analytics_engine_report` WRITE;
/*!40000 ALTER TABLE `analytics_engine_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `analytics_engine_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `analytics_engine_reportlog`
--

DROP TABLE IF EXISTS `analytics_engine_reportlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `analytics_engine_reportlog` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `action` varchar(50) NOT NULL,
  `executed_at` datetime(6) NOT NULL,
  `details` longtext DEFAULT NULL,
  `executed_by_id` bigint(20) DEFAULT NULL,
  `report_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `analytics_engine_rep_executed_by_id_fc0ec2d6_fk_billing_c` (`executed_by_id`),
  KEY `analytics_engine_rep_report_id_a0794a26_fk_analytics` (`report_id`),
  CONSTRAINT `analytics_engine_rep_executed_by_id_fc0ec2d6_fk_billing_c` FOREIGN KEY (`executed_by_id`) REFERENCES `billing_center_accountprofile` (`id`),
  CONSTRAINT `analytics_engine_rep_report_id_a0794a26_fk_analytics` FOREIGN KEY (`report_id`) REFERENCES `analytics_engine_report` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `analytics_engine_reportlog`
--

LOCK TABLES `analytics_engine_reportlog` WRITE;
/*!40000 ALTER TABLE `analytics_engine_reportlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `analytics_engine_reportlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_center_attendancedevice`
--

DROP TABLE IF EXISTS `attendance_center_attendancedevice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_center_attendancedevice` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `is_active` tinyint(1) NOT NULL,
  `last_seen` datetime(6) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  `device_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `attendance_center_at_company_id_fc9fb6d5_fk_billing_c` (`company_id`),
  KEY `attendance_center_at_device_id_145f0d96_fk_biotime_c` (`device_id`),
  CONSTRAINT `attendance_center_at_company_id_fc9fb6d5_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`),
  CONSTRAINT `attendance_center_at_device_id_145f0d96_fk_biotime_c` FOREIGN KEY (`device_id`) REFERENCES `biotime_center_biotimedevice` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_center_attendancedevice`
--

LOCK TABLES `attendance_center_attendancedevice` WRITE;
/*!40000 ALTER TABLE `attendance_center_attendancedevice` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_center_attendancedevice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_center_attendancerecord`
--

DROP TABLE IF EXISTS `attendance_center_attendancerecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_center_attendancerecord` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `check_in` time(6) DEFAULT NULL,
  `check_out` time(6) DEFAULT NULL,
  `status` varchar(10) NOT NULL,
  `synced_from_biotime` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `biotime_log_id` bigint(20) DEFAULT NULL,
  `employee_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `attendance_center_attend_employee_id_date_0bc70843_uniq` (`employee_id`,`date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_center_attendancerecord`
--

LOCK TABLES `attendance_center_attendancerecord` WRITE;
/*!40000 ALTER TABLE `attendance_center_attendancerecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_center_attendancerecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendance_center_attendancesetting`
--

DROP TABLE IF EXISTS `attendance_center_attendancesetting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendance_center_attendancesetting` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `biotime_server_url` varchar(255) NOT NULL,
  `api_key` varchar(255) NOT NULL,
  `last_sync` datetime(6) DEFAULT NULL,
  `auto_sync_enabled` tinyint(1) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `attendance_center_at_company_id_a9260be0_fk_billing_c` (`company_id`),
  CONSTRAINT `attendance_center_at_company_id_a9260be0_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance_center_attendancesetting`
--

LOCK TABLES `attendance_center_attendancesetting` WRITE;
/*!40000 ALTER TABLE `attendance_center_attendancesetting` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendance_center_attendancesetting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_center_employeeprofile`
--

DROP TABLE IF EXISTS `auth_center_employeeprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_center_employeeprofile` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `position` varchar(100) NOT NULL,
  `department` varchar(100) DEFAULT NULL,
  `hire_date` date NOT NULL,
  `salary` decimal(10,2) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `auth_center_employee_company_id_ee60bd36_fk_billing_c` (`company_id`),
  CONSTRAINT `auth_center_employee_company_id_ee60bd36_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`),
  CONSTRAINT `auth_center_employee_user_id_6acb6763_fk_billing_c` FOREIGN KEY (`user_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_center_employeeprofile`
--

LOCK TABLES `auth_center_employeeprofile` WRITE;
/*!40000 ALTER TABLE `auth_center_employeeprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_center_employeeprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=173 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_accountprofile`
--

DROP TABLE IF EXISTS `billing_center_accountprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_accountprofile` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `is_company_admin` tinyint(1) NOT NULL,
  `has_seen_welcome` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_accountprofile`
--

LOCK TABLES `billing_center_accountprofile` WRITE;
/*!40000 ALTER TABLE `billing_center_accountprofile` DISABLE KEYS */;
INSERT INTO `billing_center_accountprofile` VALUES
(1,'pbkdf2_sha256$720000$inUAtR6qDNpEsPc6uOAFcD$3JKcbvi1dcegCk72VFPrZe04QXMhFy+MDF3txxZ//ks=','2025-11-11 21:23:11.766887',1,'hrm','','',1,1,'2025-10-31 12:53:58.979721','hrm@hrm.com',NULL,0,0);
/*!40000 ALTER TABLE `billing_center_accountprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_accountprofile_groups`
--

DROP TABLE IF EXISTS `billing_center_accountprofile_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_accountprofile_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `accountprofile_id` bigint(20) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `billing_center_accountpr_accountprofile_id_group__3574fc95_uniq` (`accountprofile_id`,`group_id`),
  KEY `billing_center_accou_group_id_d286a46d_fk_auth_grou` (`group_id`),
  CONSTRAINT `billing_center_accou_accountprofile_id_fdc0e8bb_fk_billing_c` FOREIGN KEY (`accountprofile_id`) REFERENCES `billing_center_accountprofile` (`id`),
  CONSTRAINT `billing_center_accou_group_id_d286a46d_fk_auth_grou` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_accountprofile_groups`
--

LOCK TABLES `billing_center_accountprofile_groups` WRITE;
/*!40000 ALTER TABLE `billing_center_accountprofile_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_center_accountprofile_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_accountprofile_user_permissions`
--

DROP TABLE IF EXISTS `billing_center_accountprofile_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_accountprofile_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `accountprofile_id` bigint(20) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `billing_center_accountpr_accountprofile_id_permis_d2298216_uniq` (`accountprofile_id`,`permission_id`),
  KEY `billing_center_accou_permission_id_e55037de_fk_auth_perm` (`permission_id`),
  CONSTRAINT `billing_center_accou_accountprofile_id_cc0924d5_fk_billing_c` FOREIGN KEY (`accountprofile_id`) REFERENCES `billing_center_accountprofile` (`id`),
  CONSTRAINT `billing_center_accou_permission_id_e55037de_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_accountprofile_user_permissions`
--

LOCK TABLES `billing_center_accountprofile_user_permissions` WRITE;
/*!40000 ALTER TABLE `billing_center_accountprofile_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_center_accountprofile_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_company`
--

DROP TABLE IF EXISTS `billing_center_company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_company` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `cr_number` varchar(50) NOT NULL,
  `email` varchar(254) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `logo` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `created_by_id` bigint(20) DEFAULT NULL,
  `company_profile_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cr_number` (`cr_number`),
  UNIQUE KEY `company_profile_id` (`company_profile_id`),
  KEY `billing_center_compa_created_by_id_29910d0b_fk_billing_c` (`created_by_id`),
  CONSTRAINT `billing_center_compa_company_profile_id_4a9b4c1b_fk_company_m` FOREIGN KEY (`company_profile_id`) REFERENCES `company_manager_companyprofile` (`id`),
  CONSTRAINT `billing_center_compa_created_by_id_29910d0b_fk_billing_c` FOREIGN KEY (`created_by_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_company`
--

LOCK TABLES `billing_center_company` WRITE;
/*!40000 ALTER TABLE `billing_center_company` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_center_company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_companysubscription`
--

DROP TABLE IF EXISTS `billing_center_companysubscription`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_companysubscription` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `start_date` datetime(6) NOT NULL,
  `end_date` datetime(6) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `payment_method` varchar(30) NOT NULL,
  `payment_reference` varchar(100) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  `plan_id` bigint(20) DEFAULT NULL,
  `discount_code_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `billing_center_compa_company_id_ea4e76a7_fk_billing_c` (`company_id`),
  KEY `billing_center_compa_plan_id_a053acda_fk_billing_c` (`plan_id`),
  KEY `billing_center_compa_discount_code_id_d1fc3eed_fk_billing_c` (`discount_code_id`),
  CONSTRAINT `billing_center_compa_company_id_ea4e76a7_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`),
  CONSTRAINT `billing_center_compa_discount_code_id_d1fc3eed_fk_billing_c` FOREIGN KEY (`discount_code_id`) REFERENCES `billing_center_discountcode` (`id`),
  CONSTRAINT `billing_center_compa_plan_id_a053acda_fk_billing_c` FOREIGN KEY (`plan_id`) REFERENCES `billing_center_subscriptionplan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_companysubscription`
--

LOCK TABLES `billing_center_companysubscription` WRITE;
/*!40000 ALTER TABLE `billing_center_companysubscription` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_center_companysubscription` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_companyuser`
--

DROP TABLE IF EXISTS `billing_center_companyuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_companyuser` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `role` varchar(50) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `billing_center_companyuser_user_id_company_id_e65fefed_uniq` (`user_id`,`company_id`),
  KEY `billing_center_compa_company_id_1d6dcfd0_fk_billing_c` (`company_id`),
  CONSTRAINT `billing_center_compa_company_id_1d6dcfd0_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`),
  CONSTRAINT `billing_center_compa_user_id_eda9268a_fk_billing_c` FOREIGN KEY (`user_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_companyuser`
--

LOCK TABLES `billing_center_companyuser` WRITE;
/*!40000 ALTER TABLE `billing_center_companyuser` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_center_companyuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_discountcode`
--

DROP TABLE IF EXISTS `billing_center_discountcode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_discountcode` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `discount_type` varchar(20) NOT NULL,
  `value` decimal(6,2) NOT NULL,
  `is_global` tinyint(1) NOT NULL,
  `valid_from` datetime(6) NOT NULL,
  `valid_to` datetime(6) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `plan_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `billing_center_disco_plan_id_5ff221f0_fk_billing_c` (`plan_id`),
  CONSTRAINT `billing_center_disco_plan_id_5ff221f0_fk_billing_c` FOREIGN KEY (`plan_id`) REFERENCES `billing_center_subscriptionplan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_discountcode`
--

LOCK TABLES `billing_center_discountcode` WRITE;
/*!40000 ALTER TABLE `billing_center_discountcode` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_center_discountcode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_invoice`
--

DROP TABLE IF EXISTS `billing_center_invoice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_invoice` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(50) NOT NULL,
  `issue_date` datetime(6) NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  `subscription_id` bigint(20) DEFAULT NULL,
  `due_date` datetime(6) DEFAULT NULL,
  `notes` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `billing_center_invoi_company_id_0601562c_fk_billing_c` (`company_id`),
  KEY `billing_center_invoi_subscription_id_4291286c_fk_billing_c` (`subscription_id`),
  CONSTRAINT `billing_center_invoi_company_id_0601562c_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`),
  CONSTRAINT `billing_center_invoi_subscription_id_4291286c_fk_billing_c` FOREIGN KEY (`subscription_id`) REFERENCES `billing_center_companysubscription` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_invoice`
--

LOCK TABLES `billing_center_invoice` WRITE;
/*!40000 ALTER TABLE `billing_center_invoice` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_center_invoice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_paymenttransaction`
--

DROP TABLE IF EXISTS `billing_center_paymenttransaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_paymenttransaction` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `invoice_id` bigint(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `method` varchar(30) NOT NULL,
  `reference` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `billing_center_payme_invoice_id_cc337626_fk_billing_c` (`invoice_id`),
  CONSTRAINT `billing_center_payme_invoice_id_cc337626_fk_billing_c` FOREIGN KEY (`invoice_id`) REFERENCES `billing_center_invoice` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_paymenttransaction`
--

LOCK TABLES `billing_center_paymenttransaction` WRITE;
/*!40000 ALTER TABLE `billing_center_paymenttransaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing_center_paymenttransaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `billing_center_subscriptionplan`
--

DROP TABLE IF EXISTS `billing_center_subscriptionplan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing_center_subscriptionplan` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` longtext DEFAULT NULL,
  `price_monthly` decimal(10,2) NOT NULL,
  `price_yearly` decimal(10,2) NOT NULL,
  `features` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`features`)),
  `is_active` tinyint(1) NOT NULL,
  `max_employees` int(10) unsigned NOT NULL CHECK (`max_employees` >= 0),
  `plan_type` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing_center_subscriptionplan`
--

LOCK TABLES `billing_center_subscriptionplan` WRITE;
/*!40000 ALTER TABLE `billing_center_subscriptionplan` DISABLE KEYS */;
INSERT INTO `billing_center_subscriptionplan` VALUES
(1,'PRO','╪«╪╖╪ر ╪ز╪ش╪▒┘è╪ذ┘è╪ر ╪ث╪│╪د╪│┘è╪ر ┘╪د╪«╪ز╪ذ╪د╪▒ ╪د┘┘╪╕╪د┘à',100.00,1200.00,'{\"ai_reports\": true, \"storage_gb\": 5, \"users\": 10}',1,10,'MONTHLY');
/*!40000 ALTER TABLE `billing_center_subscriptionplan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biotime_center_biotimedevice`
--

DROP TABLE IF EXISTS `biotime_center_biotimedevice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `biotime_center_biotimedevice` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `device_id` varchar(100) NOT NULL,
  `name` varchar(150) NOT NULL,
  `ip_address` char(39) DEFAULT NULL,
  `serial_number` varchar(150) DEFAULT NULL,
  `firmware_version` varchar(100) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `last_sync` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `device_id` (`device_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biotime_center_biotimedevice`
--

LOCK TABLES `biotime_center_biotimedevice` WRITE;
/*!40000 ALTER TABLE `biotime_center_biotimedevice` DISABLE KEYS */;
/*!40000 ALTER TABLE `biotime_center_biotimedevice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biotime_center_biotimeemployee`
--

DROP TABLE IF EXISTS `biotime_center_biotimeemployee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `biotime_center_biotimeemployee` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `employee_id` varchar(100) NOT NULL,
  `full_name` varchar(150) NOT NULL,
  `department` varchar(150) DEFAULT NULL,
  `position` varchar(150) DEFAULT NULL,
  `card_number` varchar(100) DEFAULT NULL,
  `enrolled_fingers` int(10) unsigned NOT NULL CHECK (`enrolled_fingers` >= 0),
  `is_active` tinyint(1) NOT NULL,
  `last_sync` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employee_id` (`employee_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biotime_center_biotimeemployee`
--

LOCK TABLES `biotime_center_biotimeemployee` WRITE;
/*!40000 ALTER TABLE `biotime_center_biotimeemployee` DISABLE KEYS */;
/*!40000 ALTER TABLE `biotime_center_biotimeemployee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `biotime_center_biotimesetting`
--

DROP TABLE IF EXISTS `biotime_center_biotimesetting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `biotime_center_biotimesetting` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `server_url` varchar(255) NOT NULL,
  `api_key` varchar(255) NOT NULL,
  `last_test_status` varchar(50) DEFAULT NULL,
  `last_test_time` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `last_device_count` int(10) unsigned NOT NULL CHECK (`last_device_count` >= 0),
  `last_user_count` int(10) unsigned NOT NULL CHECK (`last_user_count` >= 0),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `biotime_center_biotimesetting`
--

LOCK TABLES `biotime_center_biotimesetting` WRITE;
/*!40000 ALTER TABLE `biotime_center_biotimesetting` DISABLE KEYS */;
INSERT INTO `biotime_center_biotimesetting` VALUES
(1,'','','undefined',NULL,'2025-11-03 02:07:37.265104',0,0);
/*!40000 ALTER TABLE `biotime_center_biotimesetting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_manager_companyprofile`
--

DROP TABLE IF EXISTS `company_manager_companyprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_manager_companyprofile` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `sector` varchar(120) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `employees_count` int(10) unsigned NOT NULL CHECK (`employees_count` >= 0),
  `is_active` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  `owner_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `company_id` (`company_id`),
  KEY `company_manager_comp_owner_id_f3be5f5b_fk_billing_c` (`owner_id`),
  CONSTRAINT `company_manager_comp_company_id_bd092708_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`),
  CONSTRAINT `company_manager_comp_owner_id_f3be5f5b_fk_billing_c` FOREIGN KEY (`owner_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_manager_companyprofile`
--

LOCK TABLES `company_manager_companyprofile` WRITE;
/*!40000 ALTER TABLE `company_manager_companyprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_manager_companyprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company_manager_employee`
--

DROP TABLE IF EXISTS `company_manager_employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `company_manager_employee` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `job_title` varchar(100) NOT NULL,
  `active` tinyint(1) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  `date_joined` date NOT NULL,
  `department` varchar(100) DEFAULT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `company_manager_empl_company_id_4eb3f6d0_fk_billing_c` (`company_id`),
  KEY `company_manager_empl_user_id_e9cd004f_fk_billing_c` (`user_id`),
  CONSTRAINT `company_manager_empl_company_id_4eb3f6d0_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`),
  CONSTRAINT `company_manager_empl_user_id_e9cd004f_fk_billing_c` FOREIGN KEY (`user_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company_manager_employee`
--

LOCK TABLES `company_manager_employee` WRITE;
/*!40000 ALTER TABLE `company_manager_employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `company_manager_employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_billing_c` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_billing_c` FOREIGN KEY (`user_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_apscheduler_djangojob`
--

DROP TABLE IF EXISTS `django_apscheduler_djangojob`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_apscheduler_djangojob` (
  `id` varchar(255) NOT NULL,
  `next_run_time` datetime(6) DEFAULT NULL,
  `job_state` longblob NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_apscheduler_djangojob_next_run_time_2f022619` (`next_run_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_apscheduler_djangojob`
--

LOCK TABLES `django_apscheduler_djangojob` WRITE;
/*!40000 ALTER TABLE `django_apscheduler_djangojob` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_apscheduler_djangojob` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_apscheduler_djangojobexecution`
--

DROP TABLE IF EXISTS `django_apscheduler_djangojobexecution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_apscheduler_djangojobexecution` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `status` varchar(50) NOT NULL,
  `run_time` datetime(6) NOT NULL,
  `duration` decimal(15,2) DEFAULT NULL,
  `finished` decimal(15,2) DEFAULT NULL,
  `exception` varchar(1000) DEFAULT NULL,
  `traceback` longtext DEFAULT NULL,
  `job_id` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_job_executions` (`job_id`,`run_time`),
  KEY `django_apscheduler_djangojobexecution_run_time_16edd96b` (`run_time`),
  CONSTRAINT `django_apscheduler_djangojobexecution_job_id_daf5090a_fk` FOREIGN KEY (`job_id`) REFERENCES `django_apscheduler_djangojob` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_apscheduler_djangojobexecution`
--

LOCK TABLES `django_apscheduler_djangojobexecution` WRITE;
/*!40000 ALTER TABLE `django_apscheduler_djangojobexecution` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_apscheduler_djangojobexecution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_center_department`
--

DROP TABLE IF EXISTS `employee_center_department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_center_department` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(120) NOT NULL,
  `description` longtext DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_center_depa_company_id_41d11063_fk_billing_c` (`company_id`),
  CONSTRAINT `employee_center_depa_company_id_41d11063_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_center_department`
--

LOCK TABLES `employee_center_department` WRITE;
/*!40000 ALTER TABLE `employee_center_department` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_center_department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_center_employee`
--

DROP TABLE IF EXISTS `employee_center_employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_center_employee` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(150) NOT NULL,
  `national_id` varchar(20) NOT NULL,
  `job_title_id` bigint(20) DEFAULT NULL,
  `email` varchar(254) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `gender` varchar(1) NOT NULL,
  `date_of_birth` date DEFAULT NULL,
  `photo` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL,
  `hire_date` date NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `company_id` bigint(20) NOT NULL,
  `user_id` bigint(20) DEFAULT NULL,
  `department_id` bigint(20) DEFAULT NULL,
  `biotime_code` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `national_id` (`national_id`),
  UNIQUE KEY `user_id` (`user_id`),
  UNIQUE KEY `biotime_code` (`biotime_code`),
  KEY `employee_center_empl_company_id_0485876a_fk_billing_c` (`company_id`),
  KEY `employee_center_empl_department_id_592199d2_fk_employee_` (`department_id`),
  KEY `employee_center_employee_job_title_id_bfa52b57` (`job_title_id`),
  CONSTRAINT `employee_center_empl_company_id_0485876a_fk_billing_c` FOREIGN KEY (`company_id`) REFERENCES `billing_center_company` (`id`),
  CONSTRAINT `employee_center_empl_department_id_592199d2_fk_employee_` FOREIGN KEY (`department_id`) REFERENCES `employee_center_department` (`id`),
  CONSTRAINT `employee_center_empl_job_title_id_bfa52b57_fk_employee_` FOREIGN KEY (`job_title_id`) REFERENCES `employee_center_jobtitle` (`id`),
  CONSTRAINT `employee_center_empl_user_id_125940aa_fk_billing_c` FOREIGN KEY (`user_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_center_employee`
--

LOCK TABLES `employee_center_employee` WRITE;
/*!40000 ALTER TABLE `employee_center_employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_center_employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_center_employeecontract`
--

DROP TABLE IF EXISTS `employee_center_employeecontract`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_center_employeecontract` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `contract_number` varchar(50) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `basic_salary` decimal(10,2) NOT NULL,
  `allowances` decimal(10,2) NOT NULL,
  `deductions` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `employee_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `contract_number` (`contract_number`),
  KEY `employee_center_empl_employee_id_a547853e_fk_employee_` (`employee_id`),
  CONSTRAINT `employee_center_empl_employee_id_a547853e_fk_employee_` FOREIGN KEY (`employee_id`) REFERENCES `employee_center_employee` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_center_employeecontract`
--

LOCK TABLES `employee_center_employeecontract` WRITE;
/*!40000 ALTER TABLE `employee_center_employeecontract` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_center_employeecontract` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_center_jobtitle`
--

DROP TABLE IF EXISTS `employee_center_jobtitle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee_center_jobtitle` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(120) NOT NULL,
  `description` longtext DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `department_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_center_jobt_department_id_a62fa1d5_fk_employee_` (`department_id`),
  CONSTRAINT `employee_center_jobt_department_id_a62fa1d5_fk_employee_` FOREIGN KEY (`department_id`) REFERENCES `employee_center_department` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_center_jobtitle`
--

LOCK TABLES `employee_center_jobtitle` WRITE;
/*!40000 ALTER TABLE `employee_center_jobtitle` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_center_jobtitle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_center_notification`
--

DROP TABLE IF EXISTS `notification_center_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_center_notification` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `message` longtext NOT NULL,
  `notification_type` varchar(30) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `sent_via_email` tinyint(1) NOT NULL,
  `recipient_id` bigint(20) NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `severity` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `notification_center__recipient_id_0f9cb291_fk_billing_c` (`recipient_id`),
  CONSTRAINT `notification_center__recipient_id_0f9cb291_fk_billing_c` FOREIGN KEY (`recipient_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_center_notification`
--

LOCK TABLES `notification_center_notification` WRITE;
/*!40000 ALTER TABLE `notification_center_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_center_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll_center_payroll`
--

DROP TABLE IF EXISTS `payroll_center_payroll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `payroll_center_payroll` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL CHECK (`employee_id` >= 0),
  `employee_name` varchar(255) NOT NULL,
  `department` varchar(150) DEFAULT NULL,
  `base_salary` decimal(10,2) NOT NULL,
  `allowances` decimal(10,2) NOT NULL,
  `deductions` decimal(10,2) NOT NULL,
  `overtime_hours` decimal(6,2) NOT NULL,
  `overtime_rate` decimal(10,2) NOT NULL,
  `total_salary` decimal(12,2) NOT NULL,
  `month` int(10) unsigned NOT NULL CHECK (`month` >= 0),
  `year` int(10) unsigned NOT NULL CHECK (`year` >= 0),
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `is_generated` tinyint(1) NOT NULL,
  `created_by_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `payroll_center_payroll_employee_id_month_year_f6a03dbc_uniq` (`employee_id`,`month`,`year`),
  KEY `payroll_center_payro_created_by_id_99f42342_fk_billing_c` (`created_by_id`),
  CONSTRAINT `payroll_center_payro_created_by_id_99f42342_fk_billing_c` FOREIGN KEY (`created_by_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll_center_payroll`
--

LOCK TABLES `payroll_center_payroll` WRITE;
/*!40000 ALTER TABLE `payroll_center_payroll` DISABLE KEYS */;
/*!40000 ALTER TABLE `payroll_center_payroll` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll_center_payrollrecord`
--

DROP TABLE IF EXISTS `payroll_center_payrollrecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `payroll_center_payrollrecord` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `month` date NOT NULL,
  `base_salary` decimal(10,2) NOT NULL,
  `allowance` decimal(10,2) NOT NULL,
  `deductions` decimal(10,2) NOT NULL,
  `net_salary` decimal(10,2) NOT NULL,
  `notes` longtext DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `employee_id` bigint(20) NOT NULL,
  `bonus` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `payroll_center_payro_employee_id_95513d05_fk_employee_` (`employee_id`),
  CONSTRAINT `payroll_center_payro_employee_id_95513d05_fk_employee_` FOREIGN KEY (`employee_id`) REFERENCES `employee_center_employee` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll_center_payrollrecord`
--

LOCK TABLES `payroll_center_payrollrecord` WRITE;
/*!40000 ALTER TABLE `payroll_center_payrollrecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `payroll_center_payrollrecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scheduler_payroll`
--

DROP TABLE IF EXISTS `scheduler_payroll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `scheduler_payroll` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL CHECK (`employee_id` >= 0),
  `employee_name` varchar(255) NOT NULL,
  `department` varchar(150) DEFAULT NULL,
  `base_salary` decimal(10,2) NOT NULL,
  `allowances` decimal(10,2) NOT NULL,
  `deductions` decimal(10,2) NOT NULL,
  `overtime_hours` decimal(6,2) NOT NULL,
  `overtime_rate` decimal(10,2) NOT NULL,
  `total_salary` decimal(12,2) NOT NULL,
  `month` int(10) unsigned NOT NULL CHECK (`month` >= 0),
  `year` int(10) unsigned NOT NULL CHECK (`year` >= 0),
  `is_generated` tinyint(1) NOT NULL,
  `is_sent` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `created_by_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `scheduler_payroll_employee_id_month_year_06f82212_uniq` (`employee_id`,`month`,`year`),
  KEY `scheduler_payroll_created_by_id_2dd23ae3_fk_billing_c` (`created_by_id`),
  CONSTRAINT `scheduler_payroll_created_by_id_2dd23ae3_fk_billing_c` FOREIGN KEY (`created_by_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scheduler_payroll`
--

LOCK TABLES `scheduler_payroll` WRITE;
/*!40000 ALTER TABLE `scheduler_payroll` DISABLE KEYS */;
/*!40000 ALTER TABLE `scheduler_payroll` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scheduler_scheduledjob`
--

DROP TABLE IF EXISTS `scheduler_scheduledjob`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `scheduler_scheduledjob` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `job_name` varchar(255) NOT NULL,
  `job_type` varchar(50) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `last_run` datetime(6) DEFAULT NULL,
  `next_run` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `created_by_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `scheduler_scheduledj_created_by_id_8f41d631_fk_billing_c` (`created_by_id`),
  CONSTRAINT `scheduler_scheduledj_created_by_id_8f41d631_fk_billing_c` FOREIGN KEY (`created_by_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scheduler_scheduledjob`
--

LOCK TABLES `scheduler_scheduledjob` WRITE;
/*!40000 ALTER TABLE `scheduler_scheduledjob` DISABLE KEYS */;
/*!40000 ALTER TABLE `scheduler_scheduledjob` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_center_brandingsetting`
--

DROP TABLE IF EXISTS `settings_center_brandingsetting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings_center_brandingsetting` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `theme_color` varchar(20) NOT NULL,
  `accent_color` varchar(20) NOT NULL,
  `background_style` varchar(20) NOT NULL,
  `logo` varchar(100) DEFAULT NULL,
  `favicon` varchar(100) DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_center_brandingsetting`
--

LOCK TABLES `settings_center_brandingsetting` WRITE;
/*!40000 ALTER TABLE `settings_center_brandingsetting` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings_center_brandingsetting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_center_companysetting`
--

DROP TABLE IF EXISTS `settings_center_companysetting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings_center_companysetting` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `company_name` varchar(255) NOT NULL,
  `tax_number` varchar(50) DEFAULT NULL,
  `address` longtext DEFAULT NULL,
  `logo` varchar(100) DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_center_companysetting`
--

LOCK TABLES `settings_center_companysetting` WRITE;
/*!40000 ALTER TABLE `settings_center_companysetting` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings_center_companysetting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_center_emailsetting`
--

DROP TABLE IF EXISTS `settings_center_emailsetting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings_center_emailsetting` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `smtp_server` varchar(200) NOT NULL,
  `smtp_port` int(10) unsigned NOT NULL CHECK (`smtp_port` >= 0),
  `use_tls` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `password` varchar(150) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_center_emailsetting`
--

LOCK TABLES `settings_center_emailsetting` WRITE;
/*!40000 ALTER TABLE `settings_center_emailsetting` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings_center_emailsetting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_center_integrationsetting`
--

DROP TABLE IF EXISTS `settings_center_integrationsetting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings_center_integrationsetting` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `service_name` varchar(100) NOT NULL,
  `api_key` varchar(255) NOT NULL,
  `base_url` varchar(200) DEFAULT NULL,
  `active` tinyint(1) NOT NULL,
  `last_test_status` varchar(50) DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_center_integrationsetting`
--

LOCK TABLES `settings_center_integrationsetting` WRITE;
/*!40000 ALTER TABLE `settings_center_integrationsetting` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings_center_integrationsetting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_center_settingslog`
--

DROP TABLE IF EXISTS `settings_center_settingslog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings_center_settingslog` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `action` varchar(255) NOT NULL,
  `changed_by` varchar(100) NOT NULL,
  `timestamp` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_center_settingslog`
--

LOCK TABLES `settings_center_settingslog` WRITE;
/*!40000 ALTER TABLE `settings_center_settingslog` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings_center_settingslog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings_center_systemsetting`
--

DROP TABLE IF EXISTS `settings_center_systemsetting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `settings_center_systemsetting` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) NOT NULL,
  `enable_ai_assistant` tinyint(1) NOT NULL,
  `support_email` varchar(254) NOT NULL,
  `support_phone` varchar(20) DEFAULT NULL,
  `system_name` varchar(150) NOT NULL,
  `theme_mode` varchar(10) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings_center_systemsetting`
--

LOCK TABLES `settings_center_systemsetting` WRITE;
/*!40000 ALTER TABLE `settings_center_systemsetting` DISABLE KEYS */;
INSERT INTO `settings_center_systemsetting` VALUES
(1,'2025-11-01 12:46:04.800988',0,'support@primeyhrm.com',NULL,'Mham Cloud','dark');
/*!40000 ALTER TABLE `settings_center_systemsetting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `smart_assistant_assistantinsight`
--

DROP TABLE IF EXISTS `smart_assistant_assistantinsight`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `smart_assistant_assistantinsight` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `ai_tags` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`ai_tags`)),
  `confidence` decimal(5,2) NOT NULL,
  `context_summary` longtext DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_archived` tinyint(1) NOT NULL,
  `recommendation` longtext NOT NULL,
  `source_module` varchar(100) DEFAULT NULL,
  `title` varchar(200) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `smart_assistant_assi_user_id_0c1b0227_fk_billing_c` (`user_id`),
  CONSTRAINT `smart_assistant_assi_user_id_0c1b0227_fk_billing_c` FOREIGN KEY (`user_id`) REFERENCES `billing_center_accountprofile` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `smart_assistant_assistantinsight`
--

LOCK TABLES `smart_assistant_assistantinsight` WRITE;
/*!40000 ALTER TABLE `smart_assistant_assistantinsight` DISABLE KEYS */;
/*!40000 ALTER TABLE `smart_assistant_assistantinsight` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-12 15:59:03
